.ratingStyle {
    background-color: #384656;
    padding: 15px;
    border-radius: 50px;
    color: hsl(217, 12%, 63%);
}

.listStyle {
    display: flex;
    margin: 40px 0;
}

.ratingListCircle {
    margin: 0 10px;
}