.ratingStyle {
    background-color: #384656;
    padding: 15px;
    border-radius: 25px;
    color: hsl(217, 12%, 63%);
    border: transparent;
    margin: 20px 10px;
}

.ratingStyle:hover {
    cursor: pointer;
    background-color: hsl(25, 97%, 53%);
    color: hsl(0, 0%, 100%);
}

.selection {
    color: hsl(25, 97%, 53%);
    background-color: #384656;
    border-radius: 20px;
    padding: 5px 15px;
    margin: 30px 0;
}
